  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-primary">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">Simple, predictable pricing.</span>
                </h1>
                <p class="lead  text-white">Always know what you'll pay with monthly caps and flat pricing across all plans.</p>
              </div>
            </div>



            <!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

            <section class="pricing py-5">
            <div class="container">
                <div class="row">
                <!-- Free Tier -->
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                        <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Requests</strong></li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>10 Origins</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>48 Hours Support SLA</li>
                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Email Support</li>
                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Workers</li>
                        </ul>
                        <a href="/users/sign_up?plan=free" class="btn btn-block btn-primary text-uppercase">Get Started</a>
                    </div>
                    </div>
                </div>
                <!-- Plus Tier -->
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                        <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Requests</strong></li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Origins</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>24 Hours Support SLA</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Email Support</li>
                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Workers</li>
                        </ul>
                        <a href="/users/sign_up?plan=plus" class="btn btn-block btn-primary text-uppercase">Get Started</a>
                    </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-4">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                        <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Requests</strong></li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>1TB Storage</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Origins</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>12 Hours Support SLA</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Email Support</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Dedicated</strong> Workers</li>
                        </ul>
                        <a href="/users/sign_up?plan=pro" class="btn btn-block btn-primary text-uppercase">Get Started</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </section>


            
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
  </main>