<div class="jumbotron projectFiles" <% if @show_file_tree %>style="display:block;"<% end %>>
<div class="row">
  <div class="col-md-6" id="jstree_div"></div>
  <div class="col-md-6" id="files_info" style="display:none;">
  
  <div class="card">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
    </div>
  </div>
  
  </div>
</div>
</div>

<!-- The Modal -->
<div class="modal" id="uploadModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Upload Image Files (png/jpg/jpeg/gif) </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div id="uploader-section">
          <!-- Standar Form -->
          <h4>Select files from your computer</h4>
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group" style="padding: 40px;width: 100%;border: 2px dashed #ccc;color: #ccc;text-align: center;">
                <input type="file" name="files[]" id="js-upload-files" multiple accept="image/png,image/x-png,image/gif,image/jpeg,image/jpg">
                <div style="margin:auto">Select files to upload</div>
              </div>
            </div>
          </form>

          <!-- Drop Zone -->
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div>
        </div>
        <div id="progress-section" style="display:none;">
          <!-- Progress Bar -->
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="upload-progress-bar">
              <span class="sr-only">0% Complete</span>
            </div>
          </div>

          <!-- Upload Finished -->
          <div class="js-upload-finished" style="margin-top: 10px;">
            <div class="list-group" id="upload-progress-items">
              
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>

    </div>
  </div>
</div>