<% content_for :page_title do %>
  Origins
<% end %>

<div class="row mb-2">
  <% if @projects.blank? %>
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">No image origin added</h5>
      <div class="card-body">
        An origin is any web server or storage which you are using for delivery or storing images.<br />
        ImageUtil will pull images from that origins via http or https and apply the transformations/filters that you want to apply.
        <br /><br />
        Please click the "Add Origin" button at the top of this page to add your first origin.
      </div>
    </div>
  </div>
  <% else %>
  <div class="col-md-12">
    <div class="row">
    <% @projects.each do |project| %>
        <%=render partial: "project_thumb", locals: {project: project} %>
    <% end %>
    </div>
  </div>
  <% end %>
</div>