<table cellpadding="0" cellspacing="0" border="0" width="88%" style="width: 88% !important; min-width: 88%; max-width: 88%;">
    <tr>
    <td align="left" valign="top">
        <font face="'Source Sans Pro', sans-serif" color="#1a1a1a" style="font-size: 52px; line-height: 60px; font-weight: 300; letter-spacing: -1.5px;">
            <span style="font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #1a1a1a; font-size: 52px; line-height: 60px; font-weight: 300; letter-spacing: -1.5px;">Hello <%= @resource.name ? @resource.name : @resource.email %>!</span>
        </font>
        <div style="height: 33px; line-height: 33px; font-size: 31px;">&nbsp;</div>
        <font face="'Source Sans Pro', sans-serif" color="#585858" style="font-size: 24px; line-height: 32px;">
            <span style="font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #585858; font-size: 24px; line-height: 32px;"><% if @resource.try(:unconfirmed_email?) %><p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p><% else %><p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p><% end %></span>
        </font>
        <div style="height: 75px; line-height: 75px; font-size: 73px;">&nbsp;</div>
    </td>
    </tr>
</table>