<div class="card mb-5 mb-lg-0">
<div class="card-body">
    <% if current_user %>
    <h5 class="card-title text-muted text-uppercase">Free</h5>
    <h6 class="card-price">$0<span class="period">/month</span></h6>
    <% else %>
    <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
    <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
    <% end %>
    <hr>
    <ul class="fa-ul">
    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Requests</strong></li>
    <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Origins</li>
    <li><span class="fa-li"><i class="fas fa-check"></i></span>72-hr SLA support tickets</li>
    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Email support</li>
    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Phone Support</li>
    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Workers</li>
    </ul>
    <% if current_user && current_user.plan==1 %>
    <a href="#" class="btn btn-outline-default text-uppercase" disabled>Current Plan</a>
    <% end %>
    <% unless current_user %>
    <a href="/users/sign_up?plan=free" class="btn btn-block btn-primary text-uppercase">Get Started</a>
    <% end %>
</div>
</div>