.jstree-default a ins.jstree-icon {
    display: none;
}

p.urlstr {
    margin: 0px;
    font-size: 80%;
    color: gray;
}

.projectImgContainer{
    height: 100px;
    overflow: hidden;
    text-align: center;
    background: gray;
}

.projectImgContainer .card-img-top{
    width: auto;
}

.projectHelp{
    background: white;
    border: 1px solid #dee2e6;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: block;
}

.projectFiles{
    background: white;
    border: 1px solid #dee2e6;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: none;
}

#uploadModal .modal-title{
    font-size: unset;
    line-height: unset;
    margin-bottom: 0px;
    margin-top: 0px;
}

#uploadModal .modal-dialog{
    max-width: 50%;
}

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.support_list_item{
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px; 
}
.support_title{
    margin-bottom: 5px;
}
.support_subject{
    font-weight: 600;
}
.support_status{
    position: absolute;
    right: 40px;
}
.support_time{
    position: absolute;
    right: 240px;
}
.support_image{
    width: 48px;
}

.reply_item{
    border-left: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px; 
}
.reply_title{
    margin-bottom: 5px;
}
.reply_time{
    position: absolute;
    right: 40px;
}
.reply_image{
    width: 32px;
}