<!DOCTYPE html>
<html>
<%=render partial: "/layouts/common/landing_head" %>
<body>
  <%=render partial: "/layouts/common/landing_header" %>
  <main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <%= yield %>
        </div>
      </div>
    </section>
  </main>
  <%=render partial: "/layouts/common/landing_footer" %>
</body>
</html>