<!DOCTYPE html>
<html>
<%=render partial: "/layouts/common/landing_head" %>
<body>
  <%=render partial: "/layouts/common/landing_header" %>
  <%= yield %>
  <%=render partial: "/layouts/common/landing_footer" %>
</body>
</html>